<header>
  <h1>Vacationer</h1>
  <%= link_to "Sign Out", sign_out_path, method: :delete %>
</header>

  <% if @current_location %>
    <%= render partial: 'map' %>
    <% else %>
   <%= render partial: 'current_location_form' %>
<% end %>
